fastapi==0.115.6
uvicorn[standard]==0.34.0
firebase-admin==6.6.0
python-dotenv==1.0.1
google-genai==1.8.0
weasyprint==63.1
Pillow==11.1.0
pydantic==2.13.4
starlette==0.41.0
python-multipart==0.0.20
google-cloud-secret-manager==2.21.0
groq==0.15.0
openai==1.68.0
paddlepaddle==3.0.0b2
paddleocr==2.9.1
PyMuPDF==1.25.4
